#toast {
    height: 50px;
    width: 450px;
    background-color: red;
    border-radius: 8px;
    bottom: 30px;
    right: 30px;
    color: #fff;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    transform: translateX(calc(100% + 30px));
    animation: entrada 5s ease-in-out normal;
}

#toast p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@keyframes entrada {
    0% {
        transform: translateX(calc(100% + 30px));
    }
    25% {
        transform: translateX(0);
    }
    75% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(100% + 30px));
    }
}